{% extends "layout.html" %}
{% block content %}
<h2 class="mb-4">Virtual Machine</h2>

<article class="media content-section">
  <div class="media-body">
    <h3 class="article-title">Kali Linux</h3>
    <p class="article-content">Attacking machine</p>
    <div class="mt-3">
      <form action="{{ url_for('start_kali') }}" method="get" style="display:inline;">
        <button class="btn btn-success btn-sm">Start</button>
      </form>
      <form action="{{ url_for('stop_kali') }}" method="get" style="display:inline;">
        <button class="btn btn-danger btn-sm">Stop</button>
      </form>
    </div>
        <h3 class="article-title">Windows XP</h3>
    <p class="article-content"> Victim machine</p>
        <div class="mt-3">
      <form action="{{ url_for('start_ubuntu') }}" method="get" style="display:inline;">
        <button class="btn btn-success btn-sm">Start</button>
      </form>
      <form action="{{ url_for('stop_ubuntu') }}" method="get" style="display:inline;">
        <button class="btn btn-danger btn-sm">Stop</button>
      </form>
    </div>
  </div>
</article>
{% endblock content %}
